<form *ngIf="client" name="deleteForm" (ngSubmit)="confirmDelete(client.id!)">
  <div class="modal-header border-0 pb-0">
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body text-center pt-0">
    <fa-icon icon="exclamation-triangle" size="4x" class="text-danger mb-4"></fa-icon>
    <h4 class="modal-title mb-3" data-cy="clientDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmation de suppression</h4>
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-client-heading"
      class="text-muted mb-4"
      jhiTranslate="tuniSalesGatewayApp.businessServiceClient.delete.question"
      [translateValues]="{ id: client.id }"
    >
      Êtes-vous certain de vouloir supprimer le Client {{ client.id }} ?
    </p>
  </div>

  <div class="modal-footer border-0 d-flex justify-content-center bg-light">
    <button type="button" class="btn btn-secondary px-4" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button id="jhi-confirm-delete-client" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger px-4">
      <fa-icon icon="trash"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
    </button>
  </div>
</form>
